

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <ul>
        <li>
        <a class="navbar-brand" href="/search">Search</a>
        <a class="navbar-brand" href="/profile/{{result.id}}">Your Profile</a>
        <a class="navbar-brand" href="/tvblog">Tv Blog</a>
        <a class="navbar-brand" href="/forecast">Forecast</a>
        <a class="navbar-brand" href="/logout">Log out</a>
        </li>
      </ul>
    </nav>