<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <ul>
        <li>
        <a class="navbar-brand" href="/">Home</a>
        {{#unless result}}
        <a class="navbar-brand" href="/signin">Sign In</a>
        <a class="navbar-brand" href="/signup">Sign Up</a>
        {{/unless}}
        
        </li>
      </ul>
        
    </nav>