<div class="about-section">

  <h2>Forecast Blog</h2>
  <p class="about-paragraph">Pour your thoughts on how you felt about the episode of the series or</p>
  <p class="about-paragraph">Share your <span>ultimate predictions</span>  about the upcoming episodes!</p>

  <p class="about-paragraph">We created this website out of our utmost love towards the awesome tv series. <br><br>
    we all become curious about what could happen in the upcoming episodes to our favourite 
    characters in the show or sometimes we feel like expressing ourselves about a particular
    episode how we felt about it.

    We are giving you the podium, make the most of it and pour in your thoughts.

    We cannot wait to hear your awesome thoughts!
  
  </p>

</div>