<h2>Update Blog</h2>

<form action="/{{someBlogValue._id}}/edit" method="POST">
 <div class="form-group">
    {{!-- <textarea   rows="3"></textarea> --}}
    <input name="newComment" value="{{someBlogValue.comment}}" class="form-control" id="exampleFormControlTextarea1" placeholder="Write your Blog here" type="text">
</div>
    <button type="submit" class="btn btn-outline-dark">Post</button>
</form>