<h1>Popular Shows</h1>


{{#each popShowData}}
  <div>
    <a href="/search/{{this.id}}">
    <h1>{{this.name}}</h1>
    <img src="https://image.tmdb.org/t/p/w185{{this.poster_path}}" alt="">
    </a>
  </div>
{{/each}}
