<div class="search-form">
<form action="/search" method="POST">
<input name="seriesName" class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Search Tv-Series...">
<button type="submit" class="btn btn-primary">Search</button>
</form>
</div>

{{#if searchResult}}
  <div>
    {{#each searchResult}}
    <a href="{{this.id}}">
    <h1>{{this.name}}</h1>
    <img src="https://image.tmdb.org/t/p/w185{{this.poster_path}}" alt="">
    </a>
    {{/each}}
  </div>
{{/if}}
