

<div class="search-main">
<form action="/search" method="POST">
<div class="search-form">
  <div class="search-input">
    <input name="seriesName" class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Search Tv-Series...">
  </div>
  <div class="search-button">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</div>
</form>


<div class="search-result">
{{#each searchResult}}
{{#if this.poster_path}}
<div class="card" style="width: 18rem;">
  <img src="https://image.tmdb.org/t/p/w185{{this.poster_path}}" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <a href="/search/{{this.id}}" class="btn btn-primary">Check Episodes</a>
  </div>
</div>
{{/if}}
{{/each}}
</div>

</div>