<h1>{{data.name}}</h1>
<img src="https://image.tmdb.org/t/p/w185{{data.poster_path}}" alt="">

<div>
    
  
   
{{#each seasons}}
   <h2> {{this.name}}</h2>
   <select class="form-select" aria-label="Default select example">
   <option selected>Episodes</option>
   {{#each seasonNumber}}
      <option value="1">Episode{{this}}</option>
   {{/each}}
  </select>
{{/each}}
      
  </div>