<div class="singin-main"> 
  <h1>Pleaes sign up</h1>

  <form action="/signup" method="POST">
    <div class="mb-3">
      {{!-- <label for="validationCustomEmail" class="form-label">Email</label> --}}
      <input name="email" type="text" class="form-control" id="validationCustomEmail" placeholder="Email" aria-describedby="inputGroupPrepend" required="required">    
      {{!-- <label for="validationCustomUsername" class="form-label">nickname</label> --}}
      <input name="nickname" type="text" class="form-control" id="validationCustomUsername" placeholder="Nick-Name" aria-describedby="inputGroupPrepend" required="required">
      {{!-- <label for="exampleInputPassword1" class="form-label">Password</label> --}}
      <input name="password"type="password" class="form-control" placeholder="Password" id="exampleInputPassword1" required="required">
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
  </form>

  {{#if msg}}
      <div class="alert alert-danger" role="alert">{{msg}}</div>
  {{/if}}
</div>